
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    font-family: 'Arvo', serif;
    font-weight: 500;
}
.container {
    display: flex;
    margin-top: 100px;
}
.summary {
    text-align: justify;
    padding: 10px;
    width: 50%;
    margin-right: 20px;
}
.heading {
    font-size: 60px;
}
.heading span {
    color: crimson;
}
.app-description h3 {
    margin-left: 10%;
    font-size: 25px;
}
.app-description h3 i {
    color: crimson;
    margin-right: 5px;
}
.data-form {
    width: 50%;
    margin-left: 20px;
    padding: 50px 10px;
}
.form h4 {
    margin: 20px 0;
}
.form .form-group {
    margin-bottom: 30px;
    padding: 10px;
}
.form .form-group label {
    margin-bottom: 10px;
}
.btn-row {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 50px;
}
.button {
    border: none;
    height: 100%;
    border-radius: 5px;
    background: crimson;
    color: #fff;
    border: 2px solid crimson;
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.button:hover {
    background: none;
    color: crimson;
}
.text-output {
    margin-top: 10px;
    font-size: 20px;
    color: darkgreen;
    font-weight: 550;
}
.form .error {
    color: crimson;
}
footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


@media (max-width: 1000px){
    .container {
        display: block;
        margin-top: 20px;
    }
    .heading {
        font-size: 40px;
    }
    .data-form, .summary {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .form .form-group {
        margin-bottom: 5px;
    }
    .app-description {
        font-size: 15px;
    }
    footer {
        font-size: 12px;
    }
}

