@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

* {
    font-family: 'Arvo', serif;
    font-weight: 500;
    font-size: 25px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header {
    padding-top: 5%;
    width: 80%;
    text-align: center;
}
.container {
    height: 70%;
}
.summary {
    text-align: justify;
    padding: 10px;
    color: #fff;
}
.header h1, .heading span {
    font-family: 'Berkshire Swash', cursive;
    font-size: 75px;
}
.heading {
    font-size: 60px;
    color: #f05806;
}
.heading span {
    color: #f6be27;
}
.app-description h3 {
    margin-left: 10%;
    font-size: 25px;
    color: #f6be27;
}
.app-description h3 i {
    color: #f05806;
    margin-right: 5px;
}
.akan-btn {
    text-decoration: none;
    border: 2px solid #f05806;
    background: #f05806;
    padding: 10px 15px;
    border-radius: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}
.akan-btn a {
    color: #f6be27;
    text-decoration: none;
}
.akan-btn:hover {
    background: none;
    text-decoration: none;
}
/* form styling */
.data-form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px 10px;
    text-align: center;
}
.data-form .form-heading h1, .data-form .form-heading h1 span {
    font-family: 'Berkshire Swash', cursive;
    font-size: 75px;
}
.data-form .form-heading h1 {
    color: #f05806;
}
.data-form .form-heading h1 span {
    color: #f6be27;
}
.form-heading p {
    color: #f6be27;
    font-size: 35px;
    font-weight: 500;
}
.form .form-group {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.form-group input, .form-group select {
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-top: 20px;
}
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #888;
}

.form .form-group {
    margin-bottom: 30px;
    padding: 10px;
}
.form .form-group label {
    margin-bottom: 10px;
}
.btn-row {
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 50px;
    width: 40%;
    margin-left: 30%;
    margin-top: 60px;
    margin-bottom: 40px;
}
.button {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: crimson;
    color: #fff;
    border: 2px solid crimson;
    font-weight: 600;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.button:hover {
    background: none;
    color: crimson;
}
.text-output {
    margin-top: 10px;
    font-size: 30px;
    color: #60a2ca;
    font-weight: 500;
    text-align: center;
}
.form .error {
    color: #f05806;
}
footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: #fff;
}
footer a {
    text-decoration: none;
    color: crimson;
}
footer a:hover {
    color: crimson;
    text-decoration: underline;
}


@media (max-width: 1000px){
    .container {
        display: block;
        margin-top: 20px;
    }
    .heading {
        font-size: 40px;
    }
    .data-form, .summary {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .form .form-group {
        margin-bottom: 5px;
    }
    .app-description {
        font-size: 15px;
    }
    footer {
        font-size: 12px;
    }
}

